<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nl.sri.zentao.mapper.ZtTaskMapper">

    <select id="getStatusList" resultType="java.lang.String">
        select `status` from zt_task  group by `status`
    </select>

    <select id="getStatusInfo" resultType="java.util.Map">
        select COUNT(*) as total,
        (select COUNT(*) from zt_task where status = 'wait' and deleted = '0' and project = #{project} <if
            test="userName !=null and userName != ''">and finishedBy = #{userName}</if>) as wait ,
        (select COUNT(*) from zt_task where status = 'doing' and deleted = '0' and project = #{project} <if
            test="userName !=null and userName != ''">and finishedBy = #{userName}</if>) as doing ,
        (select COUNT(*) from zt_task where status = 'done' and deleted = '0' and project = #{project} <if
            test="userName !=null and userName != ''">and finishedBy = #{userName}</if>) as done ,
        (select COUNT(*) from zt_task where status = 'pause' and deleted = '0' and project = #{project}<if
            test="userName !=null and userName != ''">and finishedBy = #{userName}</if>) as pause ,
        (select COUNT(*) from zt_task where status = 'cancel' and deleted = '0' and project = #{project}<if
            test="userName !=null and userName != ''">and finishedBy = #{userName}</if>) as cancel ,
        (select COUNT(*) from zt_task where status = 'closed' and deleted = '0' and project = #{project}<if
            test="userName !=null and userName != ''">and finishedBy = #{userName}</if>) as closed
        from zt_task where deleted = '0' and project = #{project}
        <if test="userName !=null and userName != ''">and finishedBy = #{userName}</if>
    </select>

    <select id="getConsumedSum" resultType="java.lang.String">
        select COUNT(consumed) as consumedSum from zt_taskestimate where task in (select id from zt_task where project = #{project}) and  date = #{date}
    </select>
</mapper>
